<div class="container" style="min-height: 786px;">
    <form id="phieumuonForm" class="center" (ngSubmit)="onSubmit()">
        <h3 style="font-family: Arial, Helvetica, sans-serif;margin: 10px 0px;">TẠO PHIẾU MƯỢN</h3>
        <div class="shadow p-3 bg-body rounded">
            <table class="table  table-bordered">
                <thead class="table-primary">
                    <tr class="text-center">
                        <th style="width: 15%">Bìa</th>
                        <th style="width: 25%">Tên đầu sách</th>
                        <th style="width: 20%">Tác giả</th>
                        <th style="width: 20%">Thể loại</th>
                        <th style="width: 20%">Thời gian dự kiến có sách</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of bookList; index as i">
                        <tr class="active-table">
                            <td class="text-center">
                                <img [src]="imageToShowActiveSrc[i]" alt="Book Image" class="img-item">
                            </td>
                            <td class="text-center" style="font-weight: 500">{{ item.title }}</td>
                            <td class="text-center">{{ item.author }}</td>
                            <ng-container *ngIf="item.category === 0">
                                <td class="content-item">
                                    Sách thường</td>
                            </ng-container>
                            <ng-container *ngIf="item.category === 1">
                                <td style="font-weight: 500;color: red; " class="content-item">Sách hiếm*
                                </td>
                            </ng-container>
                            <td class="text-center" style="color: red;">{{ item.estimateTimeHave }}</td>

                        </tr>
                    </ng-container>
                    <!-- <td>{{ item.genre }}</td> -->
                </tbody>
            </table>
            <hr>
            <div class="d-flex justify-content-start align-items-center" style="margin-bottom: 10px;margin-top: 20px;">
                <p style="font-size: 21px; font-weight: bold; color: red; margin: 0px;">Hẹn ngày lấy: </p>
                <a type="button" style="margin-left: 20px; ">
                    <input type="date" #borrowedDateInput id="borrowedDate" name="borrowedDate" 
                        [(ngModel)]="borrowedDate" min="{{min}}" max="{{max}}" [value]="formattedDate" class="cacul">
                </a>
            </div>
            <!-- <div style="max-width: 50%;">
                <p>Khi mượn sách ở thư viện, tôi cam kết tuân thủ các quy định và điều khoản sau:<br>
                    <strong> Thời gian mượn sách:</strong> Tôi đồng ý tuân thủ thời gian mượn sách quy định bởi thư viện. Tôi sẽ trả sách đúng hạn để tránh vi phạm và tránh bị áp dụng hình thức xử lý trễ trả sách.
                    <br>
                    <strong>Trạng thái sách:</strong> Tôi cam đoan sẽ bảo quản sách trong tình trạng tốt và không gây hư hại đến sách. Nếu phát hiện sách bị hư hại trước khi mượn, tôi sẽ thông báo ngay cho nhân viên thư viện để được giúp đỡ.
                    <br>
                    <strong>Phí trễ trả sách:</strong>  Tôi hiểu rằng nếu trả sách muộn, tôi có thể phải chịu các khoản phí trễ trả sách quy định bởi thư viện. Tôi sẽ thanh toán các khoản phí này đúng hạn.
                    <br>
                    <strong>Quyền lợi và trách nhiệm:</strong> Tôi sẽ chịu trách nhiệm về việc mượn sách và sử dụng sách một cách có trách nhiệm. Tôi hiểu rằng vi phạm các quy định và điều khoản mượn sách có thể dẫn đến việc bị hạn chế quyền lợi mượn sách hoặc các hình thức xử lý khác do thư viện quy định.
                    <br>
                    <strong>Bảo mật thông tin:</strong> Tôi cam đoan sẽ bảo mật thông tin cá nhân và thông tin mượn sách của mình. Tôi không chia sẻ thông tin này với người khác mà không có sự đồng ý của thư viện.
                    "</p>
            </div> -->

            <div  style="min-width: 40%;">
                Những sách có thời gian dự kiến có sách không là <strong>"Có sẵn"</strong> sẽ không được đảm bảo có sách khi bạn tới thư viện mượn sách.
            </div>
            <div class="d-flex align-items-center" style="margin-bottom: 15px; margin-top: 5px;">
                    <input type="checkbox" id="accept" name="accept" value="true" [(ngModel)]="agreed"
                    style="width: 15px; height: 15px; color: blue;margin-right: 10px;">
                <label style="margin: 0px; min-width: 8%">Tôi đã đọc, hiểu và đồng ý tuân thủ các điều khoản mượn sách của thư viện.</label>
                <button type="submit" class="btn btn-primary" style="width: 130px;margin-left: 800px;">Hoàn tất</button>
            </div>
        </div>
    </form>

    <!-- Hiển thị sách ko thể mượn -->
    <div class="center" *ngIf="bookListUnavailable.length > 0">
        <h3>Sách đã hết</h3>
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <table class="table  table-bordered">
                <thead class="table-primary">
                    <tr class="text-center">
                        <th style="width: 15%">Bìa</th>
                        <th style="width: 25%">Tên đầu sách</th>
                        <th style="width: 20%">Tác giả</th>
                        <th style="width: 20%">Thể loại</th>
                        <th style="width: 20%">Thời gian dự kiến có sách</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of bookListUnavailable; index as i">
                        <tr class="active-table">
                            <td class="text-center">
                                <img [src]="imageToShowUnavailableSrc[i]" alt="Book Image" style="width: 200px; height: 200px;">
                            </td>
                            <td class="text-center">{{ item.title }}</td>
                            <td class="text-center">{{ item.author }}</td>
                            <ng-container *ngIf="item.category === 0">
                                <td class="content-item">
                                    Sách thường</td>
                            </ng-container>
                            <ng-container *ngIf="item.category === 1">
                                <td style="font-weight: 500;color: red; " class="content-item">Sách hiếm*
                                </td>
                            </ng-container>
                            <td class="text-center"  style="color: red;">{{ item.estimateTimeHave }}</td>

                        </tr>
                    </ng-container>
                    <!-- <td>{{ item.genre }}</td> -->
                </tbody>
            </table>
        </div>
    </div>
</div>