<!-- Hiển thị danh sách sách ebook  và sách in " -->
<div
  class="select_option"
  style="margin-top: 13px; margin-right: 400px"
  *ngIf="
    (isActive('/sys/statistic/book') &&
      !isActive('/sys/statistic/book/borrowed')) ||
    isActive('/sys/statistic/user/borrowed')
  "
>
  <select
    class="custom-select custom-select-sm"
    [(ngModel)]="selectedValueToShow"
    (ngModelChange)="onChangeBookToShow()"
    name="selectStatus"
    style="margin: 6%"
  >
    <option value="0" [selected]="selectedValueToShow == 0">Sách in</option>
    <option value="1" [selected]="selectedValueToShow == 1">Ebook</option>
  </select>
</div>

<div class="search" style="margin-right: 10%">
  <form>
    <input
      style="width: 300px"
      class="form-control me-2"
      type="search"
      placeholder="Nhập"
      name="searchByUsername"
      [(ngModel)]="enteredText"
    />
  </form>
  <button
    type="button"
    style="border: #ffffff; background-color: #ffffff"
    (click)="searchBookBackEnd()"
  >
    <img
      src="../../../../assets/img/search.png"
      alt=""
      style="width: 38px; height: 38px"
    />
  </button>
</div>

<div #projectBudgetStatus class="container" style="min-height: 786px">
  <div class="d-flex" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-8">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        [value]="0"
        autocomplete="off"
        [checked]="isActive('/sys/statistic/book')"
        (click)="selectBook()"
      />
      <label class="btn btn-outline-warning" for="btnradio1">Sách</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        [value]="1"
        [checked]="isActive('/sys/statistic/user')"
        autocomplete="off"
        (click)="selectUser()"
      />
      <label class="btn btn-outline-primary" for="btnradio2">Người dùng</label>

      <button type="button" style="border: #ffffff; background-color: #ffffff">
        <img
          src="https://cdn-icons-png.flaticon.com/128/10975/10975953.png"
          alt=""
          style="width: 38px; height: 38px"
          (click)="export()"
        />
      </button>
    </div>
  </div>
  <hr />
  <router-outlet></router-outlet>
</div>
