<div class="container cart_container" style="min-height: 786px">
  <ng-container>
    <div class="row">
      <div class="col">
        <div class="cart_empty" *ngIf="bookInWaitList.length == 0">
          <img
            src="../../../../assets/img/cart_empty.avif"
            alt=""
            class="cart_empty-img"
          />
          <h3 class="cart_empty-msg">
            Chưa có quyển sách nào được đăng ký.<br />
            Đăng ký những quyển sách bạn muốn
            <a routerLink="/" type="button"> tại đây</a>
          </h3>
        </div>
        <div
          (click)="borrowMany()"
          class="d-flex"
          *ngIf="selectedBook.length > 0"
        >
          <div
            class="d-flex w-100 justify-content-between flex-sm-column flex-md-row"
          >
            <button class="btn btn-danger btn-sm order-1 confirm-all">
              Mượn ngay
            </button>
          </div>
        </div>
        <!-- Hiển thị danh sách có thể mượn-->
        <div
          *ngIf="bookInWaitList.length > 0"
          class="d-flex"
          style="align-items: center; margin: 10px 0px; margin-top: 30px"
        >
          <div class="d-flex" *ngIf="bookInWaitListActive.length > 0">
            <h6 class="title">Danh sách sản phẩm có thể mượn</h6>
            <i class="fa fa-check-circle check_icon" aria-hidden="true"></i>
          </div>
        </div>
        <table class="table" *ngIf="bookInWaitListActive.length > 0">
          <thead class="table-primary">
            <tr class="text-center">
              <th style="width: 40%">Sản phẩm</th>
              <th style="width: 15%">Số lượng còn lại</th>
              <th style="width: 15%">Số trang</th>
              <th style="width: 15%">Giá tiền</th>
              <th style="width: 15%">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of bookInWaitListActive; index as i">
              <td
                class="align-items-center justify-content-around"
                style="width: 40%"
              >
                <div class="product_cart">
                  <input
                    type="checkbox"
                    class="checkbox_cart"
                    [(ngModel)]="c.checked"
                    (change)="updateSelectedBook(c)"
                  />

                  <a type="button" [routerLink]="['/home/book', c.bookCode]">
                    <img [src]="imageToShowActiveSrc[i]" class="cart_img" />
                  </a>
                  <div class="product_title_author">
                    <p>Tên: {{ c.title }}</p>
                    <a type="button">
                      <p class="info-author">Tác giả: {{ c.author }}</p>
                    </a>
                  </div>
                </div>
              </td>
              <td class="collum" style="color: red">
                {{ c.quantity }}
              </td>
              <td class="collum">{{ c.pages }} trang</td>
              <td class="collum">
                <p>{{ c.price | currencySuffix : "VND" : "" : "1.0-0" }} vnđ</p>
              </td>
              <td class="collum">
                <a type="button" (click)="deleteFromWaitList(c)">
                  <i
                    class="fa fa-times-circle delete_icon"
                    aria-hidden="true"
                  ></i>
                </a>
                <a type="button" (click)="addBookToCart(c)">
                  <i
                    class="fa fa-cart-plus fa-2x"
                    style="margin-left: 10px; color: blue"
                    aria-hidden="true"
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Hiển thị danh sách đầu sách tạm hết -->
        <div
          *ngIf="bookInWaitListDisable.length > 0"
          class="d-flex"
          style="align-items: center; margin: 16px 0px"
        >
          <h6 class="title">Danh sách đầu sách tạm thời hết</h6>
          <i
            class="fa fa-check-circle check_icon col-md-8"
            style="color: #7a7575; padding: 0px"
            aria-hidden="true"
          ></i>
        </div>
        <table class="table" *ngIf="bookInWaitListDisable.length > 0">
          <thead class="table-primary">
            <tr class="text-center">
              <th style="width: 40%">Sản phẩm</th>
              <th style="width: 15%">Thời gian dự kiến có sẵn</th>
              <th style="width: 15%">Số trang</th>
              <th style="width: 15%">Giá tiền</th>
              <th style="width: 15%">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="product_not_active"
              *ngFor="let c of bookInWaitListDisable; index as i"
            >
              <td class="align-items-center justify-content-around">
                <div class="product_cart">
                  <i
                    *ngIf="
                      c.status == '0' || c.estimateTimeHave == 'Chưa xác định'
                    "
                    class="fa fa-window-close-o icon_disable"
                    aria-hidden="true"
                  ></i>
                  <input
                    *ngIf="
                      c.status == '1' && c.estimateTimeHave != 'Chưa xác định'
                    "
                    type="checkbox"
                    class="checkbox_cart"
                    [(ngModel)]="c.checked"
                    [checked]="c.checked || selectAll"
                    (change)="updateSelectedBook(c)"
                    [attr.disabled]="
                      this.selectedBook.length >= 3 && c.checked == false
                        ? true
                        : null
                    "
                  />
                  <a type="button">
                    <img
                      [routerLink]="['/home/book', c.bookCode]"
                      [src]="imageToShowDisableSrc[i]"
                      alt="{{ c.title }}"
                      class="cart_img"
                    />
                  </a>
                  <div class="product_title_author">
                    <p>Tên: {{ c.title }}</p>
                    <a type="button">
                      <p class="info-author">Tác giả: {{ c.author }}</p>
                    </a>
                  </div>
                </div>
              </td>
              <td>
                <p style="margin-top: 28px; color: red; font-weight: 500px">
                  {{ c.estimateTimeHave }}
                </p>
              </td>
              <td>
                <p style="margin-top: 28px">{{ c.pages }} trang</p>
              </td>
              <td class="collum">
                <p>{{ c.price | currencySuffix : "VND" : "" : "1.0-0" }} vnđ</p>
              </td>
              <td>
                <a type="button" (click)="deleteFromWaitList(c)">
                  <i
                    class="fa fa-times-circle delete_icon"
                    style="margin-top: 28px"
                    aria-hidden="true"
                  ></i>
                </a>
                <a type="button" (click)="addBookToCart(c)">
                  <i
                    class="fa fa-cart-plus fa-2x"
                    style="margin-left: 10px; color: blue"
                    aria-hidden="true"
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
